{% extends 'store/base.html' %}
{% load static %}
{% block content %}
	<style>
		.box-element
		{
			background-color: #fff;
			border-radius: 4px;
			padding: 10px;
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			margin-top: 1em;
			margin-bottom: 1em;
		}


		.btn
		{
			border-radius: 4;
		}

		.row-image
		{
			width: 100px;
		}

		.cart-row
		{
			display: flex;
			align-items: flex-stretch;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ececec;
		}

		.quantity
		{
			display: inline-block;
			font-weight: 700;
			padding-right:10px;
		}

		.chg-quantity
		{
			width: 12px;
			cursor: pointer;
			display: block;
			margin-top: 5px;
			transition:.1s;
		}

		.chg-quantity:hover
		{
			opacity: .6;
		}


	</style>

	<div class="row">

			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{totalitems}}</strong></h5></th>
						<th><h5>Total: <strong>{{total|floatformat:2}} EGP</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>
			<h3>Store Products</h3>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>{{item.product.price|floatformat:2}} EGP</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product = {{item.product.id}} data-action = "add" data-type = "product" class="chg-quantity update-cart" src="{% static  'images/up.png' %}">
							<img data-product = {{item.product.id}} data-action = "remove" data-type = "product" class="chg-quantity update-cart" src="{% static  'images/down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>{{item.get_total|floatformat:2}} EGP</p></div>
				</div>
				{% endfor %}
			</div>
		<h3>Market Place Products</h3>
		<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
				{% for postitem in postitems %}
				<div class="cart-row">
					{% if postitem.post.header_image %}
          					<div style="flex:2"><img class="row-image" src="{{postitem.post.header_image.url}}"></div>
					{% endif %}
					<div style="flex:2"><p>{{postitem.post.title}}</p></div>
					<div style="flex:1"><p>{{postitem.post.price|floatformat:2}} EGP</p></div>
					<div style="flex:1">
						<p class="quantity">{{postitem.quantity}}</p>
						<div class="quantity">
							<img data-product = {{postitem.post.id}} data-action = "add" data-type = "post" class="chg-quantity update-cart" src="{% static  'images/up.png' %}">
							<img data-product = {{postitem.post.id}} data-action = "remove" data-type = "post" class="chg-quantity update-cart" src="{% static  'images/down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>{{postitem.get_total|floatformat:2}} EGP</p></div>
				</div>
				{% endfor %}
		</div>
	</div>
{% endblock content %}