{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/test.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    <script type="text/javascript">

        var user = '{{request.user}}'

        function getToken(name)
        {
            var cookieValue = null;
            if (document.cookie && document.cookie !=='')
            {
                var cookies = document.cookie.split(';');
                for (var i = 0;i<cookies.length;i++)
                {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0,name.length+1)===(name + '='))
                    {
                        cookieValue = decodeURIComponent(cookie.substring(name.length +1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>
</head>
<body>
  <style>
      body {
        margin-top: 5rem;
        background: rgba(0, 0, 0, 0.5);
      }
      .bg-steel {
        background-color: black;
      }
      .col-md-4{
      position:fixed;
      right: 30px;
      width:30%;
    }
    .my-style{
      border-radius: 3;
    }
 
 
    </style>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="collapse navbar-collapse" id="navbarNav">
          <a class="navbar-brand pl-5" href="main"><img src="{%static '/blog/Untitled.png' %}" /></a>
          <ul class="navbar-nav ml-auto ">
              <li class="nav-item active ">
                  <a class="nav-link pr-5" href="{% url 'store' %}">Our Store</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle pr-5 dropdown1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categories
                  </a>
                  <div class="dropdown-menu content " aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="Fashion.html">Fashion</a>
                      <a class="dropdown-item" href="Electronicss.html">Electronics</a>
                      <a class="dropdown-item" href="Home.html">Home</a>
                      <a class="dropdown-item" href="Beauty and health.html">Beauty and health</a>
                      <a class="dropdown-item" href="Supermarket.html">Supermarket</a>
                  </div>
              </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item pr-5">
                    <a class="nav-item nav-link" href="{%url 'post-create'%}">Add Post</a>
                  </li>
                  <li class="nav-item pr-5">
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                 </li>
                 <li class="nav-item pr-5">
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                 </li>
                  {% else %}
                  <li class="nav-item pr-5">
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                 </li>
                 <li class="nav-item pr-5">
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %} 
              <li class="nav-item ">
                  <a class="nav-link pr-5" href="Favorites.html"><img  style = "width:25px ; height:25px"src = "{%static '/blog/favicon.png' %}" alt = "cart"> </a>
              <li class="nav-item ">
                  <a class="nav-link pr-5" href="{% url 'cart' %}"><img  style = "width:25px ; height:25px"src = "{%static '/blog/cart.png' %}" alt = "cart"></a>
              </li>
              </li>
              <li class="nav-item ">
                  <a class="nav-link pr-5" href="{% url 'blog-about' %}">About us</a>
              </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container ml-5">
      <div class="row">
        <div class="row">
          {% if messages %}
            {% for message in messages %}
              <div class='alert alert-{{message.tags}}'>
                  {{message}}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>